<!-- This is The dashboard. It is only accessible when a user has logged in. -->

<main>
    <% if (typeof(alert) !== "undefined") { %>
        <div class="alert">
            <p><%= alert %></p>
        </div>
    <% } %>

    <h3>Dashboard</h3>
    
    <div class="dashboard-item">
        <p class="dashboard-item-title">Logs</p>
        <p>View logs</p>
    </div>

    <div class="dashboard-item">
        <p class="dashboard-item-title">Automatic Emails</p>
        <br>
        <form>
            <label>Enable automatic emails?</label>
            <input type="checkbox">
            <br>
            <label>Interval</label>
            <br>
            <label>Scope</label>
            <br>
            <button type="submit">Save</button>
        </form>
        
    </div>

    <div class="dashboard-item">
        <p class="dashboard-item-title">Statistics</p>
        <p>View Statistics</p>
    </div>

    <% if (role === "administrator") { %>
        <div class="dashboard-item">
            <p class="dashboard-item-title">Account Settings</p>  
            
            <p><b>Manage Accounts</b></p><br>
            <% data.forEach(user => { %>
                <div class="userBox">
                    
                    <div class="username"><%= user.username %>  --  <%= user.role %></div>
                    <div class="userRow">

                        <form action="/dashboard/change_role" method="POST">
                            <input class="roleChangeUserID" style="display: none;" value="<%= user.id %>" name="userID">
                            <button type="submit">Change Role</button>
                        </form>

                        <div class="danger" onclick="confirm(this.parentNode.parentNode)">Delete Account</div>
                    </div>

                    <div class="confirm">
                        <form action="/dashboard/delete" method="POST"> 
                            <input class="danger_userID" style="display: none;" value="<%= user.id %>" name="userID">
                            <div class="confirmItems">
                                <div class="danger">Are You Sure?</div>
                                <button type="submit">Yes</button>
                            </div>
                        </form>
                    </div>

                </div>
            <% }); %>
                

                <br>
                <p><b>Create New Account</b></p>
                <br>

                <div id="createAccount">
                    <form action="/dashboard/create_account" method="POST">
                        <label for="email">Email</label>
                        <input name="email" type="text"><br>
                        <label>Password</label>
                        <input name="password" type="text"><br>
                        <label for="name">Role</label>
                        <select name="role">
                            <option value="user">User</option>
                            <option value="administrator">Administrator</option>
                        </select><br>
                        <button type="submit">Create</button>
                    </form>
                </div>

        </div>
    <% }; %>
    
    
</main>


<script>
    function confirm(element) {
        element.querySelector(".confirm").style.display = "flex";
    }
</script>